@page
@model StudentGradeManagementBackend.Pages.StudentQueryModel
@{
    ViewData["Title"] = "乖돨냥섀";
    if (HttpContext.Session.GetString("Role") != "student")
    {
        Response.Redirect("/Login");
    }
}

<h1>乖돨냥섀</h1>
<table class="table">
    <thead>
        <tr>
            <th>왁넋츰냔</th>
            <th>롸鑒</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MyScores != null)
        {
            @foreach (var score in Model.MyScores)
            {
                <tr>
                    <td>@score.CourseName</td>
                    <td>@score.Grade</td>
                </tr>
            }
        }
    </tbody>
</table>